# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so
*.exe
*.editorconfig

# Distribution / packaging
*.vs*

build/
build_debug/

CMakeCache.txt
CMakeFiles
CMakeScripts
CMakeSettings.json
Makefile
makefile
cmake_install.cmake
CTestTestfile.cmake

# MacOS stuff
.DS_Store

# Executables that get created when we run make install
run_models
misc/next_gen_prof_testing/ICM_Aux
misc/next_gen_prof_testing/ICM_Full
misc/next_gen_prof_testing/ICM_NextGen

